<div class="container">
    <h1>Manager Form</h1>
    <form #managerForm="ngForm" #formSpy>
        {{diagnostic}}
        <br/>
        {{formSpy.className}}
        <div class="form-group">
            <label for="name" class="control-label">Name</label>
            <input [(ngModel)]="model.name" #spy type="text" class="form-control" id="name" name="name" required="required"/>
            <br/>
            {{spy.className}}
        </div>
        <div class="form-group">
            <label for="sex" class="control-label">Sex</label>
            <select [(ngModel)]="model.sex" class="form-control" id="sex" name="sex" required="required">
                <option *ngFor="let s of sexes" [value]="s">{{s}}</option>
            </select>
        </div>
        <div class="has-warning">
            This is a warning
        </div>
        <button type="submit" class="btn btn-success" *ngIf="managerForm.valid">Submit</button>
    </form>
</div>