<h2>Main</h2>
<ul>
    <li *ngFor="let p of persons">{{p.name}}</li>
</ul>
<div>
    <manager-form></manager-form>
</div>
<table>
    <tr>
        <th>Roles</th>
        <th>Territories</th>
        <th>Domains</th>
        <th>Products</th>
    </tr>
    <tr>
        <td valign="top">
            <div *ngFor="let r of roles">
                <a routerLink="/roles/{{r.id}}">{{r.id}}</a>:{{r.name}} <span *ngIf="r.splitDomain">(*D)</span>
            </div>
        </td>
        <td valign="top">
            <pre>
                <div *ngFor="let t of territories">{{t.id}}: {{t.name}}</div>
            </pre>
        </td>
        <td valign="top">
            <pre>
                <div *ngFor="let d of domains">{{d.id}}: {{d.name}}</div>
            </pre>
        </td>
        <td valign="top">
            <pre>
                <div *ngFor="let p of products">{{p.id}}: {{p.name}}</div>
            </pre>
        </td>
    </tr>
</table>
