<table>
    <tr>
        <th>Roles</th>
        <th>Territories</th>
        <th>Domains</th>
        <th>Products</th>
    </tr>
    <tr>
        <td valign="top">
            <div class="tree-box">
                <tree [node]="role" [node-component]="roleComponent"></tree>
            </div>
        </td>
        <td valign="top">
            <div class="tree-box">
                <tree [node]="territory" [node-component]="territoryComponent"></tree>
            </div>

        </td>
        <td valign="top">
            <pre>
                <div *ngFor="let d of domains">{{d.id}}: {{d.name}}</div>
            </pre>
        </td>
        <td valign="top">
            <pre>
                <div *ngFor="let p of products">{{p.id}}: {{p.name}}</div>
            </pre>
        </td>
    </tr>
</table>
