<h2>Main</h2>
<table>
    <tr>
        <th>Roles</th>
        <th>Territories</th>
        <th>Domains</th>
        <th>Products</th>
    </tr>
    <tr>
        <td valign="top">
            <div class="tree-box">
                <ul class="root">
                    <li>
                        <span>All</span>
                        <tree [node]="role" [node-component]="roleComponent"></tree>
                    </li>
                </ul>
            </div>

            <div *ngFor="let r of roles">
                <a routerLink="/roles/{{r.id}}">{{r.id}}</a>:{{r.name}} <span *ngIf="r.splitDomain">(*D)</span>
            </div>
        </td>
        <td valign="top">
            <div class="tree-box">
                <ul class="root">
                    <li>
                        <span>World</span>
                        <tree [node]="territory" [node-component]="territoryComponent"></tree>
                    </li>
                </ul>
            </div>

        </td>
        <td valign="top">
            <pre>
                <div *ngFor="let d of domains">{{d.id}}: {{d.name}}</div>
            </pre>
        </td>
        <td valign="top">
            <pre>
                <div *ngFor="let p of products">{{p.id}}: {{p.name}}</div>
            </pre>
        </td>
    </tr>
</table>
