<h2>Main</h2>
<ul>
    <li *ngFor="let p of persons">{{p.name}}</li>
</ul>
<table>
    <tr>
        <th>Domains</th>
        <th>Roles</th>
        <th>Territories</th>
    </tr>
    <tr>
        <td valign="top">
            <pre>
                <div *ngFor="let d of domains">{{d.id}}: {{d.name}}</div>
            </pre>
        </td>
        <td valign="top">
            <pre>
                <div *ngFor="let r of roles">{{r.id}}: {{r.name}} <span *ngIf="r.splitDomain">(*D)</span></div>
            </pre>
        </td>
        <td valign="top">
            <pre>
                <div *ngFor="let t of territories">{{t.id}}: {{t.name}}</div>
            </pre>
        </td>
    </tr>
</table>
