<div class="container">
    <h1>Manager Form</h1>
    <form #managerForm="ngForm">
        {{diagnostic}}
        <br/>
        valid: {{managerForm.valid}}
        <br/>
        dirty: {{managerForm.dirty}}
        <br/>
        touched: {{managerForm.touched}}
        <div class="form-group form-group-danger">
            <label for="name" class="control-label">Name</label>
            <div>
                <input [(ngModel)]="model.name" #spy="ngModel" type="text" class="form-control" id="name" name="name" required="required"/>
            </div>
            <br/>
            {{spy.valid}}
        </div>
        <div class="form-group">
            <label for="sex" class="control-label">Sex</label>
            <select [(ngModel)]="model.sex" class="form-control" id="sex" name="sex" required="required">
                <option *ngFor="let s of sexes" [value]="s">{{s}}</option>
            </select>
        </div>
        <div class="has-warning">
            This is a warning
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>